*.a
*.o
*.sio
xaces3
*.mod
GNUmakefile.chssi
src/aces/aces_library/a2driver/aces2/Makefile
src/aces/aces_library/a2driver/geopt/Makefile
src/aces/aces_library/a2driver/symcor/Makefile
src/aces/aces_library/special_directory/direct_integral/Makefile
src/aces/aces_library/special_directory/dup/Makefile
src/aces/aces_library/special_directory/ecp/Makefile
src/aces/aces_library/special_directory/erd/Makefile
src/aces/aces_library/special_directory/nlo/Makefile
src/aces/aces_library/special_directory/oed/Makefile
src/aces/aces_library/special_directory/prop_ints/Makefile
src/aces/aces_sial/Makefile
src/main/Makefile
src/sia/framelib/Makefile
src/sia/manager/Makefile
src/sia/sip/aces_instructions/Makefile
src/sia/sip/sip_instructions/Makefile
src/sia/sip_shared/Makefile
src/sia/worker/Makefile
src/sial_compiler/compiler/Makefile
src/sial_compiler/sial/Makefile
Makefile
bin/sial
bin/sio/default_jobflows
bin/sio/sial_config
config.h
config.log
config.status
src/sial_compiler/compiler/sial

